{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>    
    <title>Home</title>
    <meta charset="UTF-8">
    <link href="{% static 'blog/css/home.css' %}" rel="stylesheet">
    
  </head>
  <body>
    
    <nav class="menu">
      <ul class="menu">
        <li class="menu">HOME</li>
        <li class="menu">食材</li>
        <li class="menu">レシピ</li>
        <li class="menu">履歴</li>
      </ul>
    </nav>

    <div class="main">
      <br>
      <br>
      <br>
      <br>
      <h1 >Home</h1>
      <br>
      <p>サンプル</p>
      <p>サンプル</p>
      <p>サンプル</p>
      <p>サンプル</p>
      <p>サンプル</p>
      <p>サンプル</p>
      <p>サンプル</p>
      <p>サンプル</p>
      <p>サンプル</p>
      <p>サンプル</p>
      <p>サンプル</p>
      <p>サンプル</p>
      <p>サンプル</p>
    </div>
  
    
  </body>
</html>