{% load static %}
<!DOCTYPE html>
<html>
  <head>    
    <title>食材選び</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/ingredients.css' %}">
    <script src="{% static 'blog/js/ingredients.js' %}"></script>
  </head>
  <body>
    <div class="header">
      <p class="margin">ホーム</p>
      <p class="margin">食材</p>
      <p class="margin">オススメ</p>
      <p class="margin">献立</p>
    </div>
    <br>
    <br>
    <br>
    <h2 id="center">食材を1つ選んで下さい</h2>
    <div class="wrapper">
      <ul class="categories">
        <li><a href="#vegetables">野菜</a></li>
        <li><a href="#meats">肉</a></li>
        <li><a href="#fish">魚</a></li>
        <li><a href="#fruits">果物</a></li>
        <li><a href="#tastes">調味料</a></li>
      </ul>
      <div id="vegetables" class="vegetables">
        <h3>野菜</h3>
        <ul>
          <li>にんじん</li>
          <li>なす</li>
          <li>じゃがいも</li>
          <li>大根</li>
          <li>玉ねぎ</li>
          <li>きゅうり</li>
          <li>トマト</li>
          <li>ピーマン</li>
          <li>パプリカ</li>
          <li>長ネギ</li>
          <li>サツマイモ</li>
          <li>小松菜</li>
          <li>白菜</li>
          <li>キャベツ</li>
          <li>ほうれん草</li>
          <li>ブロッコリー</li>
          <li>アスパラガス</li>
          <li>かぼちゃ</li>
          <li>オクラ</li>
        </ul> 
      </div>
      <div id="meats" class="vegetables">
        <h3>肉</h3>
        <ul>
          <li></li>
        </ul>
      </div>
      <div id="fish" class="vegetables">
        <h3>魚</h3>
        <ul>
          <li></li>
        </ul>
      </div>
      <div id="fruits" class="vegetables">
        <h3>果物</h3>
        <ul>
          <li></li>
        </ul>
      </div>
      <div id="tastes" class="vegetables">
        <h3>調味料</h3>
        <ul>
          <li></li>
        </ul>
      </div>
    </div>
    
  </body>
</html>