{% extends "cs3team1/home.html" %}
{% load widget_tweaks %}
{% block content %}

<div class="row my-4">
  <div class="col-md-8">
    {% for post in post_data %}
      <div class="card mb-4">
        {% if post.image %}
          <img src="{{ post.image.url }}" alt="" class="card-image-top index-img">
        {% endif %}
        <div class="card-body">
          <h2 cass="card-title">{{ post.title }}</h2>
          <p cass="card-text">{{ post.content|truncatechars:100 }}</p>
          <div class="btn btn-warning">詳細</div>
        </div>
        <div class="card-footer text-muted">
          {{ post.created|date }} by {{ post.author }}
        </div>
        <a href="{% url 'post_detail' post.id %}" class="stretched-link"></a>
      </div>
    {% endfor %}
  </div>

  <div class="col-md-4">
    <div class="card">
      <h5 class="card-header">My recipe</h5>
      <div class="card-body"> 
        <p>このアプリについて</p>
        <p class="mb-0">
          Homeでは毎日の献立や買い物リスト、レシピ、訪れたお店で食べたメニューなどを記録することが出来ます。ログインすることで、Homeに投稿が出来るようになります。メニューバーの「食材」をクリックし、食材を選ぶと、選んだ食材だけで作れるレシピを提案します。
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
