{% extends "cs3team1/home.html" %}
{% load widget_tweaks %}
{% block content %}

<div class="row my-4">
  <div class="col-md-8">
    {% for post in post_data %}
      <div class="card mb-4">
        <div class="card-body">
          <h2 cass="card-title">{{ post.title }}</h2>
          <p cass="card-text">{{ post.content|truncatechars:100 }}</p>
          <div class="btn btn-warning">詳細</div>
        </div>
        <div class="card-footer text-muted">
          {{ post.created|date }} by {{ post.author }}
        </div>
        <a href="{% url 'post_detail' post.id %}" class="stretched-link"></a>
      </div>
    {% endfor %}

</div>

{% endblock %}
