<!DOCTYPE html>
<html>
  {% load static %}
  <head>    
    <title>Recipe</title>
    <meta charset="UTF-8"></head>
    <link rel="icon" href="{% static 'blog/img/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/recommendation.css' %}">
  <body>

    <nav>
      <ul class="menu">
        <li class="menu"><a href="{% url 'home' %}">HOME</a></li>
        <li class="menu"><a href="{% url 'ingredient' %}">食材</a></li>

        <li class="menu"><a href="{% url 'home' %}">履歴</a></li>
        {% if user.is_authenticated %}
          <li class="menu">
            <a href="{% url 'post_new'  %}">レシピの投稿</a>
          </li>
          <li class="menu">
            <a href="{% url 'account_logout' %}">ログアウト</a>
          </li>
        {% else %}
          <li class="menu">
            <a href="{% url 'account_signup' %}">サインアップ</a>
          </li>
          <li class="menu">
            <a href="{% url 'account_login' %}">ログイン</a>
          </li>
        {% endif %}
      </ul>

    </nav>

    <div class="main">
      <br>
      <br>
      <br>
      <br>
      <h1 >レシピ <!-- django --></h1>
      <div class="text">
      <h2>{{ title }}</h2> 
      <h2 class="text">材料</h2>
      <ul><strong>食材</strong>
        <ul>{% for ingredient in ingredients %}
          <li>{{ ingredient }}</li>
        {% endfor %}
        </ul>
      </ul>
      <ul><strong>調味料</strong>
        <ul>{% for seasoning in seasonings %}
            <li>{{ seasoning }}</li>
        {% endfor %}
        </ul>
      </ul>
      
    </div>
      <div class="text">
      <h2 class="text">作り方</h2>
      <ol>{% for item in howto %}
        <li>{{ item }}</li>
      {% endfor %}
      </ol>
    </div>
      <div class="text">
      <h2 class="text">メモ</h2>
      <ul>{{ memo }}</ul>
    </div>
      <div class="text">
        <h2 class="text">栄養成分表示</h2>
        <ul>{% for item in nutrition_facts_label %}
          <li>{{ item }}</li>
          {% endfor %}
        </ul>
      </div>
    <br>
    <br>

    </div>
  </body>
</html>