<!DOCTYPE html>
<html>
  {% load static %}
  <head>    
    <title>Recommendation</title>
    <meta charset="UTF-8"></head>
    <link rel="icon" href="{% static 'blog/img/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/recommendation.css' %}">
  <body>

    <nav>
      <ul class="menu">
        <li class="menu"><a href="{% url 'home' %}">HOME</a></li>
        <li class="menu"><a href="{% url 'ingredient' %}">食材</a></li>

        <li class="menu"><a href="{% url 'home' %}">履歴</a></li>
        {% if user.is_authenticated %}
          <li class="menu">
            <a href="{% url 'post_new'  %}">レシピの投稿</a>
          </li>
          <li class="menu">
            <a href="{% url 'account_logout' %}">ログアウト</a>
          </li>
        {% else %}
          <li class="menu">
            <a href="{% url 'account_signup' %}">サインアップ</a>
          </li>
          <li class="menu">
            <a href="{% url 'account_login' %}">ログイン</a>
          </li>
        {% endif %}
      </ul>

    </nav>

    <div class="main">
      <br>
      <br>
      <br>
      <br>
      <h1 >おすすめレシピ一覧</h1>
      <div class="recipe">
      <a href="{% url 'recipe' %}"><!--open data--><p>{{ title }}</p></a>
    </div>
    <br>
    <br>
    </div>
  </body>
</html>