<!DOCTYPE html>
<html>
  {% load static %}
  <head>    
    <title>Recommendation</title>
    <meta charset="UTF-8"></head>
    <link rel="icon" href="{% static 'blog/img/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/recommendation.css' %}">
  <body>
    <div class="header">
      <p class="margin"><a href="{% url 'home' %}">HOME</a></p>
      <p class="margin"><a href="{% url 'ingredient' %}">食材</a></p>
      <p class="margin"><a href="{% url 'home' %}">履歴</a></p>
      {% if user.is_authenticated %}
      <p class="margin"><a href="{% url 'post_new' %}">献立表の投稿</a></p>
      <p class="margin"><a href="{% url 'account_logout' %}">ログアウト</a></p>
      {% else %}
      <p class="margin"><a href="{% url 'account_signup' %}">サインアップ</a></p>
      <p class="margin"><a href="{% url 'account_login' %}">ログイン</a></p>
      {% endif %}
    </div>

    <div class="main">
      <br>
      <br>
      <br>
      <br>
      <h1 >おすすめレシピ一覧</h1>
      <div class="recipe">
      <a href="{% url 'recipe' %}"><img  src="{% static 'blog/img/iniad.png' %}"><!--open data--><p>レシピ1</p></a>
      <a href=""><img  src="{% static 'blog/img/iniad.png' %}"><p>レシピ2</p></a>
      <a href=""><img  src="{% static 'blog/img/iniad.png' %}"><p>レシピ3</p></a>
      <a href=""><img  src="{% static 'blog/img/iniad.png' %}"><p>レシピ4</p></a>
      <a href=""><img  src="{% static 'blog/img/iniad.png' %}"><p>レシピ5</p></a>
    </div>
    </div>
  </body>
</html>