.header {
    display: flex;
    justify-content: center;
    flex-flow: row;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #A2CA0E;
    color: #000000;
    padding: 1em;
}

.margin {
    margin-left: 5em;
}

#center {
    text-align: center;
}

.categories {
    display: flex;
    padding-left: 1em;
    flex-direction:row;
    justify-content: center;
    margin-right: 5em;

}

.vegetables {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    grid-template-rows: 80px 80px 80px;
    margin-left: 10em;
}