.header {
    display: flex;
    justify-content: center;
    flex-flow: row;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #A2CA0E;
    color: #000000;
    padding: 1em;
}

.margin {
    margin-left: 5em;
}

#center {
    text-align: center;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    padding-left: 1em;
    flex-direction:row;
    justify-content: center;
    margin-right: 5em;
}

/*エリアの表示非表示と形状*/
.vegetables {
    display: none;/*はじめは非表示*/
    opacity: 0;/*透過0*/
    background: #fff;
    padding:50px 20px;
} 

/*tabの形状*/
  .categories li a{
    display: block;
    background:#ddd;
    margin:0 2px;
    padding:10px 20px;
  }
  /*liにactiveクラスがついた時の形状*/
  .categories li.active a{
    background:#fff;
  }
  
  /*vegetablesにis-activeというクラスがついた時の形状*/
  .vegetables.is-active {
      display: block;/*表示*/
      animation-name: displayAnime;/*ふわっと表示させるためのアニメーション*/
      animation-duration: 2s;
      animation-fill-mode: forwards;
  }
  
  @keyframes displayAnime{
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /*========= レイアウトのためのCSS ===============*/
  
  body{
    background:#eee;
  }
  
  ul{
    list-style:none;
  }
  
  a{
    color:#333;
    text-decoration: none;
  }
  
  .wrapper{
    width:100%;
    max-width: 960px;
    margin:30px auto;
      background:#fefefe;
  }
  
  .vegetables h2{
    font-size:1.3rem;
    margin:0 0 20px 10px;
  }
  
  .vegetables li{
    padding: 10px; 
    border-bottom: 1px solid #ddd;
  }