body{
    background-image: url("/static/blog/img/back1.png");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-flow: column;
  }

h1{
    color: #F08A37;
}

nav{
    width: 100%;
    height: 100px;
    background-color:#A2CA0E;
    box-sizing: border-box;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 50;
}

ul.menu{
    display: table;
    margin: 0 auto;
    padding: 0;
    width: 80%;
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

li.menu{
    display: table-cell;
    min-width: 50px;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 30px
}

ul.menu li.menu a{
    display: block;
    width: 100%;
    padding: 10px 0;
    text-decoration: none;
    color: #fefefe;
    font-weight: bold;
}



ul.menu li.menu a:hover{
    color: #FEE600;
}

  div.main{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 1000px;
    background-color:#fefefe;
    box-sizing: border-box;
    top: 100px;
    left: 0;
    align-items: center; 
    flex: 1;
}

.recipe{
    padding: 2.5% 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.recipe > *{
    min-width: 8%;
    flex-basis: 25%;
    /* background: #fff; */
    font-size: 25px;
    text-align: center;
}

div.text{
    margin-top: -2%;
    margin-right: 2%;
    margin-left: 2%;
    padding: 1rem 2rem;
    color: rgb(0, 0, 0);
    background: #FEE600;
    -webkit-box-shadow: 5px 5px 0 #FEE600;
    box-shadow: 5px 5px 0 #F08A37;
}

h2.text{
    position: relative;
    background: #F08A37;
    padding: 1rem 2rem calc(1rem + 10px);
  }
  
h2.text:before {
    position: absolute;
    top: -7px;
    left: -7px;
    width: 100%;
    height: 100%;
    content: '';
    border: 4px solid rgb(0, 0, 0);
  }


  h2.r {
    position: relative;
    display: inline-block;
    padding: 0 65px;
    text-align: center;
}
  
h2.r:before,
h2.r:after {
    position: absolute;
    top: calc(50% - 3px);
    width: 50px;
    height: 6px;
    content: '';
    border-top: solid 2px #000;
    border-bottom: solid 2px #000;
}
  
h2.r:before {
    left: 0;
}
  
h2.r:after {
    right: 0
}